{% extends 'layout.html' %}

{% block content %}
<div class="animated slideInLeft conversion-card col-lg-6 col-md-8 col-sm-10">
    <div class="card">
        <div class="card-header">
            Convert Currency
        </div>
        <div class="card-body">

            <form id="conv_form" action="#" method="POST">

                <div class="form-group">
                    <label for="source">Choose Your Source Currency:</label>
                    <select id="source" id="souce" name="source" class="form-control">
                        {% for currency in currencies %}
                            <option value="{{currency}}">{{currency}}</option> 
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="amount">Amount:</label>
                    <input type="number" id="amount" name="amount" class="form-control">
                </div>

                <div class="form-group">
                    <label for="target">Choose Your Target Currency:</label>
                    <select id="target" name="target" id="target" class="form-control">
                        {% for currency in currencies %}
                            <option value="{{currency}}">{{currency}}</option> 
                        {% endfor %}
                    </select>
                </div>

                <input type="submit" id="submit" class="btn btn-primary" value="Convert" disabled>

                <div id="result_wrapper">
                {% if results %}
                    <div class="results alert alert-success">
                        <strong>1</strong> {{results.source}} IS <strong>{{results.rate}}</strong>{{results.target}}<br>
                        <strong>{{results.amount}} </strong>{{results.source}} IS <strong>{{results.target_amount}}</strong> {{results.target}}<br>
                        as of now.
                    </div>
                {% endif %}
                </div>
            </form>


        </div>
    </div>
</div>

{% endblock %}